.critical {
    background-color: red;
}

.major {
    background-color: yellow;
}

.ok {
    background-color: green;
}

.button {
    padding: 65px 65px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}